<!-- views/user.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vistas</title>
  </head>
  <body>
    <div id="output">
      <h1>Listado de Usuarios</h1>
      <ul>
        {{#u}}
        <li>
          <p><strong>ID: </strong>{{id}}</p>
          <p><strong>Email: </strong>{{email}}</p>
          <p><strong>Tipo: </strong>{{type}}</p>
          <p><strong>Activo: </strong>{{active}}</p>
          <p><strong>Creado en: </strong>{{createdAt}}</p>
          <p><strong>Última actualización en:</strong>{{updatedAt}}</p>
        </li>
        {{/u}}
      </ul>

      <form method="POST" action="/logout">
        <button type="submit">Cerrar Sesión</button>
      </form>
    </div>
  </body>
</html>
